:root {
  --easeInQuad: cubic-bezier(.55, .085, .68, .53);
  --easeInCubic: cubic-bezier(.550, .055, .675, .19);
  --easeInQuart: cubic-bezier(.895, .03, .685, .22);
  --easeInQuint: cubic-bezier(.755, .05, .855, .06);
  --easeInExpo: cubic-bezier(.95, .05, .795, .035);
  --easeInCirc: cubic-bezier(.6, .04, .98, .335);
  --easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);

  --easeOutQuad: cubic-bezier(.25, .46, .45, .94);
  --easeOutCubic: cubic-bezier(.215, .61, .355, 1);
  --easeOutQuart: cubic-bezier(.165, .84, .44, 1);
  --easeOutQuint: cubic-bezier(.23, 1, .32, 1);
  --easeOutExpo: cubic-bezier(.19, 1, .22, 1);
  --easeOutCirc: cubic-bezier(.075, .82, .165, 1);
  --easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

  --easeInOutQuad: cubic-bezier(.455, .03, .515, .955);
  --easeInOutCubic: cubic-bezier(.645, .045, .355, 1);
  --easeInOutQuart: cubic-bezier(.77, 0, .175, 1);
  --easeInOutQuint: cubic-bezier(.86, 0, .07, 1);
  --easeInOutExpo: cubic-bezier(1, 0, 0, 1);
  --easeInOutCirc: cubic-bezier(.785, .135, .15, .86);
  --easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}