@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Monoton&family=Montserrat:wght@100&family=Raleway:wght@900&display=swap');
@import './variables.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  caret-color: transparent;

  &:focus {
    outline: auto 5px -webkit-focus-ring-color;
  }
}

body {
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  color: var(--text);
  box-sizing: border-box;
  background-color: var(--background);
  font-family: 'Roboto Slab', sans-serif;

  a {
    color: var(--cta);
    a:hover, a:active {
      color: var(--cta-light);
    }
  }

  h1, h2 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: var(--color-light);
    font-family: 'Raleway', sans-serif;
    font-size: clamp(6rem, 10vw, 12rem);
  }

  h2 {   
    color: var(--color); 
    font-family: 'Montserrat', serif;
    font-size: clamp(0.925rem, calc(0.25rem + 2vw), 2rem);
  }

  input {
    text-transform: lowercase;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1rem;
  }

  #root {
    width: 100%;
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}