:root {
  // colors
  --background: #f8f0e0;
  --color: #042e27;
  --color-light: #364966;
  --cta: #dc3d4b;
  --cta-light: #fa4454;
  --shadow: rgba(0,8,16,.3);

  // border-radius
  --radius-xl: 48px;
  --radius-lg: 32px;
  --radius-md: 8px;
  --radius-sm: 4px;
}