:root {
  // colors
  --background: #f8f0e0;
  --color: #042e27;
  --color-light: #364966;
  --cta: #dc3d4b;
  --cta-light: #fa4454;

  // border-radius
  --radius-xl: 48px;
  --radius-lg: 32px;
  --radius-md: 8px;
  --radius-sm: 4px;

  // timing
  --easeInOutQuadratic: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
  --easeOutBack-large: cubic-bezier(0.175, 0.885, 0.405, 1.570);
}