html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%);

  @supports (scrollbar-gutter: stable) {
    overflow: auto;
    scrollbar-gutter: stable;
  }
}
